body{
    background-color: wheat;
}

.banniere{
    height: 200px;
    background-color: grey;
}

.nav {
    width: 100%;
}

.menu ul li{
    text-align: center;
    width:14%;
}
#logout a{
    padding:0;
}

.menu ul li img{
    height:50px;
    width:auto;
}

.menu-visitor ul li{
    width:20%;
}



